html, body, a, div, img {
  margin: 0;
  padding: 0;
  border: 0;
}

div.zoomable {
  width: 300px;
  position: relative;
  overflow: hidden;
}

div.zoomable img{
  width: 100%;
}

div.focus-box {
  display:block;
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  height: 90px;
  width: 90px;
  border: 5px solid white;
  background: lightgrey;
  opacity: 0.3;
}

div.zoomed-image {
  position: absolute;
  background-repeat: no-repeat;
  left: 360px;
  top: 0px;
  border: 5px solid black;
  /*top: 0;
  bottom: 0;
  right: 0;*/
}
 /*div.zoomable:hover div.focus-box {
   display: block;
 }*/
